body {
  background-image: url(../images/blue-pink.png);
  background-position: center;
  background-size: 100%;
}

.about-me{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
}

.about-me__container{
    grid-column-start: 2;
    width: 80%;
    padding: 0 100px;
}

.about-me__header{
    color: #846670;
    font-size: 1.25rem;
}

p {
    line-height: 2.5;
    width: 30rem;
    padding:
}
