body {
  background-image: url(../images/pink-blue-gradient.png);
}

.about-me{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
}

.about-me__container{
    grid-column-start: 2;
}

.about-me__header{
    color: #846670;
    font-size: 1.25rem;
}

p {
    line-height: 2.5;
    width: 40rem;
}
