@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: poppins;
    background-color: #fefbf1;
    color: #011E3E;
    margin-top: none;

}

h2{
    line-height: 1.8;
}

.main-header{
    font-size: 5rem;;
    font-weight: 700;
    font-family: poppins;
    color: #846670;
    margin: 0;
}

.main-nav{
    text-align: right;
    margin-right: 7%;
}

ul{
    margin-top: 0;
}

.main-nav_item{
    color: #846670;
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0 0 0 3rem;
    transition: color 0.3s;
    transition: margin 0.5s;
}

.main-nav_item a{
    text-decoration: none;
    color: inherit;
}

.main-nav_item:hover{
    color: #ffe4e0;
    margin: 0 0 0 100px;
}

.intro{
    display: grid;
    grid-template-columns: repeat(8, 16%);
    grid-template-rows:5rem minmax(10px, 200px)
}

.intro__container{
    grid-column-start: 3;
    grid-column-end: 6;
}

footer{
    display: grid;
    grid-template-columns: repeat(8, 16%);
    grid-template-rows: 5rem minmax(10px, 200px);
}

.footer-text__container{ 
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 2;
}