@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    font-family: poppins;
    background-color: #fefbf1;
    color: #011E3E;
}

.main-header {
    font-size: 70px;
    font-weight: 700;
    font-family: poppins;
    color: #846670;
    margin: 0;
    grid-column: 5/span 4;
}

.main-nav {
    text-align: right;
    margin-right: 7%;
}

.main-nav_item {
    color: #846670;
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
    margin: 0 0 0 130px;
    transition: color 0.3s;
    transition: margin 0.5s;
}

.main-nav_item a{
    text-decoration: none;
    color: inherit;
}

.main-nav_item:hover {
    color: #ffe4e0;
    margin: 0 0 0 100px;
}

